.container-margin-cards-products{
  display: flex;
  justify-content: center;
}

.container-cards-products {
  scroll-behavior: smooth;
  display: flex;
  align-items: baseline;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 95%; height: 100%;
  background-color: #5b5c54;
  border-radius: 0.5em;
}