.container-forgot-pass {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.register-link {
  /* width: 100%; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #5c5456;
  text-decoration: none;
  font-weight: bold;
  padding: 2% 4%;
}

.register-link:hover {
  color: #80a576;
  cursor: pointer;
  transition-duration: 300ms;
  font-weight: bold;
}

.arrow {
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 2% 0;
  height: 3vh;
  width:3vw;
}