.screen-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 80vh;
  background-color: rgb(252, 252, 252);
  border-radius: 0.7em;
  box-shadow: 0 6em 10em black;
}

.form-login {
  height: 95%; width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.interface{
  height: 100%; width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}