.container-title{
  display: flex;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #5b5c54;
  text-decoration: overline #5b5c5455;
  /* text-decoration-line: overline; */
}

.title{
  height: 20%; width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}