.container-button-submit {
  padding: 2% 0;
}

.button-submit{
  background-color: #732929;
  height: 5vh; width: 25vw;
  border-radius: 1em;
  font-size: 1.5rem;
  color: aliceblue;
  font-weight: bold;
}

.button-submit:hover{
  background-color: #6C7339;
  color: aliceblue;
  cursor: pointer;
  transition-duration: 300ms;
  font-weight: bold;
}